#!/usr/bin/env bash

local ver="2.3.0"
local user="nix-community"
local repo="nix-direnv"
local artifact="direnvrc"
local url="https://raw.githubusercontent.com/${user}/${repo}/${ver}/${artifact}"
local hash="sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="

if ! has nix_direnv_version || ! nix_direnv_version "${ver}"; then
  source_url "${url}" "${hash}"
fi

nix_direnv_watch_file \
  flake.nix \
  flake.lock
use flake --impure || use nix --impure

